header{
    display: none;
}

/* Zona page: mismo look que el diseño */

/* Lista */
.zone-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Card */
.zone-item{
  width: 100%;
  background: #fff;
  border: 2px solid rgba(0,0,0,0.45);
  border-radius: 14px;
  padding: 14px 16px;

  display: grid;
  grid-template-columns: 54px 1fr 54px; /* icon | texto | icon */
  align-items: center;
  gap: 12px;

  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

/* Izq/Der icon */
.zone-left,
.zone-right{
  display: grid;
  place-items: center;
}

.zone-icon{
  width: 34px;
  height: 34px;
  object-fit: contain;
}

/* Texto centrado como el mock */
.zone-mid{
  text-align: center;
}

.zone-name{
  margin: 0;
  font-family: var(--font-type-text);
  font-weight: 800;
  font-size: 30px;
  line-height: 1.05;
}

.zone-desc{
  margin: 4px 0 0;
  font-family: var(--font-type-text);
  font-size: 12px;
  opacity: 0.7;
}

/* Selected state */
.zone-item.is-selected{


    border-color:black;
    background: rgba(246, 193, 204, 0.1);

    box-shadow:
        inset 0 4px 10px rgba(0, 0, 0, 0.22),
        inset 0 0 0 1px rgba(0, 0, 0, 0.06);


}


@media(min-width:1024px){
    header{
        display: flex;
    }

    .flow-save{
        margin-top: 20px;
    }

        .flow-content {
        
        margin-top: 10px;
        background: #fff;
        border-radius: 18px;
        padding: 30px 8px;
        position: relative;
        box-shadow: var(--shadow-lg);

        flex: 1;
        /* 🔥 ocupa el espacio restante */
        display: flex;
        flex-direction: column;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

}